<form nz-form [formGroup]="userSearchForm" *ngIf="isShowFilter" [nzLayout]="'inline'" class="ant-advanced-search-form">
  <div nz-row [nzGutter]="24">
    <nz-alert nzBanner nzCloseable nzMessage="请填写至少一个查询条件" *ngIf="searchLimitError" class="bannerMessage"></nz-alert>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="20">
      <p>用户查询</p>
    </div>
  </div>
  <div nz-row [nzGutter]="24">
    <div nz-col [nzSpan]="6">
      <nz-form-item nzFlex>
        <nz-form-label>用户姓名</nz-form-label>
        <nz-form-control>
          <input nz-input nzRequired placeholder="请输入姓名" [(ngModel)]="filter.Name" formControlName="searchName"
            name="searchName" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item nzFlex>
        <nz-form-label>用户电话</nz-form-label>
        <nz-form-control>
          <input nz-input placeholder="请输入电话" [(ngModel)]="filter.Phone" formControlName="searchPhone"
            name="searchPhone" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6">
      <nz-form-item nzFlex>
        <nz-form-label>门店</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select id="branchId" name="branchId" 
            formControlName="checkBranch" [(ngModel)]="filter.BranchId"
            nzPlaceHolder="请选择用户所在门店">
            <nz-option *ngFor="let item of branchNameList" nzValue="{{item.BranchId}}" nzLabel="{{item.combineName}}">
            </nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col [nzSpan]="6" class="search-area">
      <button nz-button [nzType]="'primary'" (click)="searchUser()">查询</button>
    </div>
  </div>
</form>
<br>
<br>
<nz-table #resultList class="UserList" *ngIf="isShowList" [nzData]="userList" [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize">
  <thead>
    <tr>
      <th>用户姓名</th>
      <th>电话号码</th>
      <th>邮箱</th>
      <th>所在门店</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="searchBody">
    <tr *ngFor="let item of resultList.data;let i = index">
      <td>{{item.Username}}</td>
      <td>{{item.Mobile}}</td>
      <td>{{item.Email}}</td>
      <td>{{item.BrandName}} - {{item.BranchName}}</td>
      <td><a (click)="editUserPermission(item.Id, item.BranchId)">编辑</a></td>
    </tr>
  </tbody>
</nz-table>
<form nz-form *ngIf="isShowPermission" [nzLayout]="'inline'"
  class="ant-advanced-search-form">
  <div>
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="20">
        <h3>{{userName}}：   {{userBranch}}</h3><br>
      </div>
    </div>
    <nz-tabset [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab *ngFor="let sectionList of permissionList" [nzTitle]="sectionList.PermissionSectionName">
        <nz-table class="permissionTable" [nzData]="permissionList" [nzShowPagination]="false">
          <tbody class="searchBody">
            <tr *ngFor="let categoryItem of sectionList.ChildArr">
              <td>
                <h5 nz-title class="categoryLabel">{{categoryItem.PermissionCategoryName}}</h5>
                <br>
                <div class="categoryDiv" *ngFor="let pageItem of categoryItem.ChildArr">
                  <div nz-col [nzSpan]="4">
                    <label>{{pageItem.PermissionPageName}}: </label>
                  </div>
                  <div nz-col [nzSpan]="20" *ngFor="let actionObj of pageItem.ActionObj">
                    <nz-form-item class="permissionItem">
                      <nz-form-control [nzSpan]="20">
                        <label nz-checkbox [name]="actionObj.PermissionActionCode" 
                          [(ngModel)]="actionObj.isChecked"
                          [(nzChecked)]="actionObj.isChecked" 
                          (ngModelChange)="togglePermissionActionStatus(actionObj)">
                          {{actionObj.PermissionActionText}}
                        </label>
                      </nz-form-control>
                    </nz-form-item>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
    <div nz-row>
      <div nz-col [nzSpan]="24" class="search-area">
        <button nz-button [nzType]="'primary'" (click)="savePermission(userId,branchId)">
          保存
        </button>
      </div>
    </div>
  </div>
</form>